<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавление постеров</title>
</head>

<h1>Revolver Marry Walker</h1>
<a href="{{url_for('profile')}}">Вернуться в профиль</a><br><br>
<a href="{{url_for('add_page_products')}}">Добавить другие товары</a>
<hr>


<body>
    <form action="/add_cards" method="post" enctype="multipart/form-data">
         
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="file" name="photo" accept ="image/*" required ><br>
        <input type="text" name="title" placeholder="Введите название постера"  required><br>
        <input type="text" name="description" placeholder="Введите описание товара" required><br>
        <input type="text" name="price" placeholder="Укаите цену товара" required><br>
        <input type="text" name="count" placeholder="Укажите кол-во товара" required><br>
        <button type="submit">Добавить</button>


    </form>
</body>





</html>



<!--title = title,
    description = description,
    avatar = avatar,
    price = price,
    count = count-->