<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Revolver Marry_Walker | Регистрация</title>
</head>
<h1>Revolver Marry Walker</h1>
<hr>

<body>
    
    <form method="post" action="{{url_for('reg')}}">
        {{  form.hidden_tag() }} <!--Токен авторизации-->

        <!--Поля ввода логина-->
        {{form.username(placeholder = "Введите имя")}}

        {% if form.username.errors %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endif %}

        <!--Поле ввода пароля-->
        {{form.password(placeholder = "Введите пароль")}}

        {% if form.password.errors %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endif %}

        <!--Кнопка отправить-->
        {{form.submit()}}


        
    </form>



</body>




</html>