<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    
</head>
<h1>Revolver Marry Walker</h1>
    <a href="{{url_for('profile')}}">Вернуться в профиль</a><br><br>
    <button onclick="window.history.back()">Назад</button><br><br>
    КОРЗИНА ПОСТЕРЫ <br><br>
    <hr>


<body>
    <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <style>
        .card img {
            max-width: 300px;
            height: auto;
            display: block;
            margin-bottom: 20px;
        }
        .card {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 10px 0;
            border-radius: 5px;
        }
    </style>
</head>
<body>
  

    {% if user_products %}
        {% for product, cart_count in user_products %}
            <div class="card">
                <img src="data:image/*;base64,{{ product.avatar }}" alt="{{ product.title }}">
                <h3>{{ product.title }}</h3>
                <p>{{ product.description }}</p>
                <p>Цена: {{ product.price }}р</p>
                <p>В корзине: {{ cart_count }} шт.</p>
            </div>
        {% endfor %}
    {% else %}
        <p>😔 В корзине нет товаров</p>
    {% endif %}

</body>
</html>

   
</body>
</html>